@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h3>Customer</h3>
@if (Model.Customers != null)
{
    <div class="row">
        <table class="table table-light table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Company</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model.Customers)
                {
                    <tr>
                        <th scope="row">@c.Id</th>
                        <td>@c.Company</td>
                        <td>@c.FirstName</td>
                        <td>@c.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>Product</h3>
@if (Model.Products != null)
{
    <div class="row">
        <table class="table table-light table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Item Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Unit Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.Products)
                {
                    <tr>
                        <th scope="row">@p.Id</th>
                        <td>@p.ItemName</td>
                        <td>@p.ItemDescription</td>
                        <td>@p.UOM</td>
                        <td>@string.Format("{0:c}", p.UnitPrice)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<h3>Vendor</h3>
@if (Model.Vendors != null)
{
    <div class="row">
        <table class="table table-light table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.Vendors)
                {
                    <tr>
                        <th scope="row">@v.Id</th>
                        <td>@v.Name</td>
                        <td>@v.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}